<!DOCTYPE html>
<html>
    <head>
        <%- include ('_head') %>
    </head>
    <body>
        <script>
            $( document ).ready(function() {
                            $('#li_about').attr('class','dropdown current');
                        });
        </script>


    </body>
</html>
